.avatar-title {
  align-items: center;
  color: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.avatar-lg {
  height: 69px;
  width: 69px;
}
.rounded-circle {
  border-radius: 50% !important;
}
/* .bg-primary {
    background-color: #6658dd!important;
}
.bg-warning{
    background-color: #f7b84b!important;
} */
.icon-circle {
  height: 42px;
  width: 52px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 11px;
  position: relative;
}
.cbg-dark {
  background-color: #c4d5f3 !important;
}
.cbg-light {
  background-color: #d1efff !important;
}
.cbg-warning {
  background-color: #ffd4b4 !important;
}
.cbg-success {
  background-color: #83e2b6 !important;
}
.cbg-danger {
  background-color: #ffc5cb !important;
}
.d-blue {
  color: #1360ef !important;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.d-pending {
  color: #ff6f00 !important;
}
.d-green {
  color: #068148 !important;
}
.d-delete {
  color: #dc3545 !important;
}
.previous {
  color: #005585 !important;
}
.fs-07 {
  font-size: 0.7rem;
}
.dark-title {
  color: #0a58ca;
}

/// Custom Css by Anurag Shakya ---

// Queue Row -- Fix
.queueBodyRow {
  td {
    // font-weight: 505;
    background-color: white;
    box-shadow: none;
  }
}

.queueHeadRow {
  th {
    color: #0a58ca;
    // box-shadow: 1px 1px 0px gray;
    border: none;
  }
}

// Top Info Cards Fix
.card {
  box-shadow: 0px 0px 4px 0px #aba8a8;
}

.verification-pending * {
  text-align: center;
}

.verification-pending {
  .heading-2 {
    margin-top: 3em;
    font-weight: 505;
  }
  .status {
    margin: 2em;
  }
  .status span {
    padding: 1em;
    background-color: #0a58ca;
    color: white;
    font-weight: 505;
    border-radius: 3em;
  }

  .para-info {
    margin-top: 3em;
  }
}

.document-rejected {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .status h5 {
    padding: 1em;
    background-color: red;
    color: white;
    font-weight: 505;
    border-radius: 3em;
  }

  * {
    text-align: center;
  }
}

// New Cards

.card-new {
  // max-width: 260px;
  flex: 1 1 0px;
  .MuiGrid-item {
    display: flex;
    align-items: center;
  }
  border: none;
  box-shadow: none;

  border-right: 1px solid gray;
  border-radius: 0;
}

.header-card-row {
  margin: 1em;
  padding: 1em;
  box-shadow: 1px 1px 6px grey;
}

.header-paper {
  box-shadow: none;
}

.card-text-normal {
  font-weight: 405;
}

.card-text-bold {
  font-weight: 606;
  font-size: 1.2rem;
}

.card-text-date {
  font-size: 0.8em;
  color: gray;
}

// .previous month cards
.previous-month-card {
  box-shadow: none;
  box-shadow: none;
  box-shadow: -1px 2px 5px 0px #c5c5c5;
  border: none;
  border-radius: none !important;
  border: none;
  border-radius: none !important;
  .text-gray {
    font-weight: 505;
    color: gray !important;
  }

  .max-w {
    max-width: none !important;
  }
  .card-body {
    padding: 0.2em 2em !important;
  }
  // padding: 0em 5em;

  .text-black {
    font-weight: 506;
    font-size: 1.6em;
    color: rgb(20, 20, 20) !important;
  }
}

// Previous Month cARD

.previous-month-card {
  .avatar-container {
    display: flex;
    justify-content: end;
    align-items: center;
  }
}
