.p-autocomplete,
.p-inputwrapper,
.p-autocomplete-multiple-container,
.autocomplete {
  width: 100%;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}

.del-presc-btn {
  margin-left: 1em;
}
